.change-password-modal{
    padding: 10px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;   
}

.change-password-modal-name{
    padding-bottom: 7px;
}

.change-password-modal-form{
    padding-top: 10px;
}

.change-password-modal-old-password{
    padding-bottom: 5px;
    display: grid;
    grid-template-columns: 110px auto;
    gap: 0;
}

.change-password-modal-new-password{
    padding-bottom: 5px;
    display: grid;
    grid-template-columns: 104px auto;
    gap: 0;
}

.change-password-modal-accept-password{
    padding-bottom: 5px;
    display: grid;
    grid-template-columns: 146px auto;
    gap: 0;
}

.change-password-modal-btn-container{
    display: flex;
    justify-content: right;
    padding: 5px;
}

.change-password-modal-btn-change{
    padding: 4px;
    background-color: black;
    color: white;
    cursor: pointer;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    font-size: 14px;
    border-radius: 5px;
    margin: 3px;
}

.change-password-modal-btn-cancel{
    padding: 4px;
    background-color: black;
    color: white;
    cursor: pointer;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    font-size: 14px;
    border-radius: 5px;
    margin: 3px;
}