.message-container {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    overflow: hidden;
    flex: 1;
    margin: 20px;
    background-color: rgb(233, 233, 233);
    border-radius: 10px;
}

.work-container-of-rigthside {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
    margin: 10px;
    align-items: center;
}

.work-container-of-leftside {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.message-with-seller {
    flex: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 10px;
    border-radius: 7px;
    justify-content: end;
    width: 80%;
}

.main-container-of-leftside {
    width: 300px;
    border-right: 2px solid #848484;
    display: flex;
    flex-direction: column;
}

.main-container-of-rigthside {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.input-container-message {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 70%;
}

.input-your-message {
    width: 100%;
    resize: none;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 70px;
    padding-bottom: 10px;
    padding-top: 10px;
    height: auto;
    font-size: 16px;
    overflow: hidden;
    box-sizing: border-box;
    min-height: 40px;
}

.input-your-message::-webkit-scrollbar {
    visibility: hidden;
}

.button-your-message {
    position: absolute;
    right: 1%;
    top: 4px;
    border: none;
    background: none;
    cursor: pointer;
}

.button-your-message:active {
    transform: scale(0.9);
}