
.workPlace-container{
    display: flex;
    flex-direction: row;
}

.selectedAd-container{
    flex-direction: column;
    width: 1000px;
}

.booking-card{
    border: 3px solid black;
    margin: 3px;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.booking-card-main{
    display: flex;
    flex-direction: row;
}

.booking-card-image{
    margin-right: 25px;
}

.booking-card-imgStyle{
    width: 150px;
    aspect-ratio: 1 / 1;
    border-radius: 15px;
}

.remove-booking-btn{
    height: 25px;
}

.costAd-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-shrink: 0;
    width: 350px;
    height: 500px;
    padding: 20px;
    border: 3px solid black;
    margin: 1px;
    border-radius: 10px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.costAd-price{
    display: flex;
    flex-direction: column;
}

.ad-info{
    margin-bottom: 3px;
}

.booking-card-title{
    font-size: 28px;
    margin-bottom: 3px;
}

.articl{
    color: rgb(120, 120, 120);
}

.name-container{
    margin: 25px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.booking-btn-container{
    display: flex;
    justify-content: right;
    margin-top: 7px;
    background-color: rgba(0, 0, 0, 0);
}

.booking-btn{
    padding: 4px;
    background-color: black;
    color: white;
    cursor: pointer;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    font-size: 16px;
    border-radius: 5px;
}

.costAd-set{
    font-size: 18px;
}

.res-word{
    font-size: 16px;
}

.booking-card-price{
    font-weight: 600;
    margin-bottom: 5px;
}