.no-Auth-Profile{
    position: absolute;
    top: 38%;
    left: 45%;
    text-align: center;
}

.buttons-for-no-auth button{
    border-radius: 5px;
    padding: 2px;
    background-color: #f5912b;
    cursor: pointer;
}

.main-page{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.profile-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:7px;
    background-color: #e3dede;
    padding: 15px;
    border-radius: 15px;
    width: 500px;
}

.saveChangesProfile{
    display: flex;
    justify-content: center;
    margin: 20px;
}

.profile-form input{
    border-radius: 5px;
    width: 300px;
    margin: 5px;
}

.profile-form button{
    margin: 3px;
}

.first-name .last-name .email{
    margin: 10px;
}

.modal-overplay{
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.45);
}

.modal-content{
    background-color: #ffffff;
    padding: 5px;
    border-radius: 7px;
    position: relative;
    max-width: 480px;
    width: 90%;
}

.modal-close{
    position: absolute;
    right: 8px;
    top: 8px;
    border: none;
    background-color: #ffffff;
    cursor: pointer;
}

.modal-content{
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding-bottom: 12px;
}

.input-first-name  {
    padding: 3px;
    font-size: 14px;
    padding-left: 7px;  
}

.input-last-name{
    padding: 3px;
    font-size: 14px;
    padding-left: 7px;
}

.input-email{
    padding: 3px;
    font-size: 14px;
    padding-left: 7px;
}

.wellcome-words{
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 25px;
    margin-top: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.logout-btn{
    padding: 4px;
    background-color: #f5912b;
    color: black;
    cursor: pointer;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    font-size: 14px;
    border-radius: 5px;
}

.change-password-btn{
    padding: 4px;
    background-color: #f5912b;
    color: black;
    cursor: pointer;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    font-size: 14px;
    border-radius: 5px;
}

.save-changes-btn{
    padding: 4px;
    background-color: black;
    color: white;
    cursor: pointer;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    font-size: 14px;
    border-radius: 5px;
    margin: 3px;
}

.delete-changes-btn{
    padding: 4px;
    background-color: black;
    color: white;
    cursor: pointer;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    font-size: 14px;
    border-radius: 5px;
    margin: 3px;
}

.avatar-change-btn{
    padding: 4px;
    background-color: #f5912b;
    color: black;
    cursor: pointer;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    font-size: 14px;
    border-radius: 5px;
}

.avatar-camera-btn{
    padding: 4px;
    background-color: #f5912b;
    color: black;
    cursor: pointer;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    font-size: 14px;
    border-radius: 5px;
}