.middle-side{
    display: flex;
    align-items: center;
    margin: 20px;
    flex-direction: column;
}

.advertisements-grid{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.search-section{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.search-input{
    width: 1000px;
    height: 32px;
    border-radius: 5px;
}

.filter-button{
    width: 36px;
    height: 32px;
    margin-left: 6px;
    border-radius: 5px;
    cursor: pointer;
}

.filter-button:hover{
    color: aquamarine;
}

.ads-count{
    padding: 20px 0;
    text-align: left;
    font-size: 18px;
    width: 1000px;
    margin: 0 auto;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.advertisements-grid{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.ad-card-public{
    width: 1000px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #e0e0e0;
    border-color: black;
    border-radius: 15px;
}

.ad-image-container{
    display: flex;
    flex-direction: row;
}

.ad-image{
    border-radius: 15px;
    border: solid 1px black;
    width: 150px;
}

.info-container{
    margin-left: 20px;
    width: 100%;
}

.heart-button {
    width: 36px;
    height: 36px;
    cursor: pointer;
    border: none;
    background: transparent;
    padding: 0;
    position: relative;
}

.heart-button::before {
    content: '🤍';
    font-size: 22px;
    transition: transform 0.2s;
}

.heart-button.favorite::before {
    content: '❤️';
    filter: none;
}

.heart-button:hover::before {
    transform: scale(1.1);
}

.booking-btn{
    padding: 4px;
    background-color: black;
    color: white;
    cursor: pointer;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    font-size: 14px;
    border-radius: 5px;
}

.connecting-btn{
    margin-right: 14px;
    padding: 4px;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    color: #787878;
    cursor: pointer;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    font-size: 14px;
    border-radius: 5px;
}

.ad-title{
    font-size: 24px;
    margin-bottom: 6px;
}

.price-badge{
    margin-bottom: 3px;
}

.detail{
    margin-bottom: 2px;
}
