.modal-info-container{
    margin: 10px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.connectWithSeller{
    padding-bottom: 4px;
}

.infoContainer{
    padding-top: 4px;
}

.writeLetterToOwner{
    display: flex;
    justify-content: right;
}
.letterToOwnerBTN{
    padding: 4px;
    background-color: black;
    color: white;
    cursor: pointer;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    font-size: 14px;
    border-radius: 5px;
    margin-top: 4px;
}