.favorites-grid-container{
    width: 1000px;
}

.favorites-grid{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    flex-direction: column;
}

.favorite-card{
    border: 3px solid black;
    margin: 3px;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.favorite-card-image{
    margin-right: 25px;
}


.remove-favorite-btn{
    height: 25px;
}