.favorites-grid{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    flex-direction: column;
}

.favorite-card{
    border: 1px solid #e0e0e0;
    border-color: black;
    padding: 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
}

.favorite-card-image{
    width: 150px;
}