.favorites-page-name{
    padding-bottom: 24px;
    font-size: 28px;
    font-weight: 600;
}

.favorites-grid-container{
    width: 1000px;
}

.favorites-grid{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    flex-direction: column;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.favorite-card{
    border: 3px solid black;
    margin: 3px;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.favorite-card-image{
    margin-right: 25px;
}


.remove-favorite-btn{
    height: 25px;
}

.favorite-booking-btn-container{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.favorite-x-btn{
    display: flex;
    justify-content: right;
}

.favorite-card-title{
    font-size: 24px;
    margin-bottom: 5px;
}

.favorite-card-price{
    font-weight: 600;
    margin-bottom: 5px;
}